# custom
.robo

# ignore all .env files except .env.example (order matters)
.env*
!.env.example

# all package-locks except current
*-lock.json
*.lock

# template ------------------------------------------------------------------------------
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
.gitattributes
